body{
    font-family: 'Avenir', sans-serif; 
    margin: 0;
    padding: 0;
    font-size: 13pt; 
    color: #444C4E;
    background-color: #F8F8FF
  }

  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
    color: #444C4E;
  }
  
  h2{
    text-align: center;
    background-color: #ECE7E1;
    color: #444C4E;
    grid-column: 1 / -1;
    grid-row: 5 / auto;
  }

  h3{
    color: #444C4E;
    text-align: center;
  }

  p{
    text-align: center;
  }

  footer{
    text-align: center;
    background-color: #444C4E;
    color: #F8F8FF;
    padding-top: 30px;
    grid-column: 1 / -1;
    grid-row: 7 / auto;
  }

/* NAVIGATION */

  .navbar li{  
    width: 20%;
    border: 2px solid #F8F8FF;
    font-size: 50%;
    padding: 1% 2%;
    border-radius: 10px;
    text-align: center;
    margin:2px;
    background-color: #444C4E;
  }

  .navbar{
        background-color: #ECE7E1;  
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
    }

    .navbar a{
        text-decoration: none;
        font-size: 125%;
        font-weight: bold;
        color: #F8F8FF;
  
    }

    nav ul{
      line-height: 20px;
      text-transform: lowercase;
    }

    .current{
      text-transform: uppercase;
    }

/*GALLERY*/
.gallery{
  display: flex;
  justify-content: center;
  min-height: 600px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery > img{
  border: 7px #444C4E solid;
  margin: 10px;
  width: 300px;
  height: 400px;
}


/* CONTACT FORM */
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #444C4E;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #444C4E;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ECE7E1;
}

.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} 

/*LOGO AND ANIMATION*/

header{
  background: #F8F8FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#logo{
  animation-duration: 5s;
  /* animation-iteration-count: 1; */
  animation-name: logo_wiggle;
}

@-webkit-keyframes logo_wiggle{
  from {width: 10px;
    height: auto;}
  to {width: 40px;
    height: auto;}
}

@keyframes logo_wiggle{
  from {width: 10px;
    height: auto;}
  to {width: 40px;
    height: auto;}
} 

@media (prefers-reduced-motion) {
  #logo {
    animation: none;
    height: auto;
    width: 40px;
    -webkit-animation: none;
  }
}

/* Parallax on Decor Page */
.parallax {
  background-image: url("../images/home4.jpg");
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}


/* Flip Card on Photography Page */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 7px solid #444C4E;
  perspective: 1000px; 
  margin-left: auto;
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ECE7E1;
  color: black;
}

.flip-card-back {
  background-color: #ECE7E1;
  color: black;
  transform: rotateY(180deg);
}